<h1>Voici tous les gossips :</h1>

<ul>
<% @gossips.each do |gossip|%>
<li>
  <span><b> Titre :</b></span>
  <%= gossip.title%>
  <br />
  <span><em> Auteur :</em></span>
  <%= gossip.user.last_name%>
  <br />
  <a href="<%=gossip_path(gossip.id)%>"> Afficher</a>
  
  <br />
  <br />
</li>
<% end %>


</ul>>